{{define "title"}}Thunders are cool{{end}}

{{define "body"}}
  <!-- Refrence - http://www.sciencekids.co.nz/sciencefacts/weather/thunder.html -->

 <h1> What makes thunder so cool </h1>
 <h2> Cools facts about Thunder </h2>
  <ol>
<li>Thunder is the sound caused by lightning.</li>
<li>The intense heat from lightning causes the surrounding air to rapidly expand and create a sonic wave that you hear as thunder.</li>
<li>The average temperature of lightning is around 20000 °C (36000 °F).</li>
<li>The sound of thunder can be anything from a loud crack to a low rumble.</li>
<li>Light travels faster than sound so we see lightning before we hear thunder.</li>
<li>The closer you are, the shorter the gap between the lightning and thunder.</li>
<li>The speed of sound is around 767 miles per hour (1,230 kilometres per hour).</li>
<li>The speed of light is around 669600000 miles per hour (1080000000 kilometres per hour).</li>
<li>Thunder is difficult to hear at distances over 12 miles (20 kilometres).</li>
<li>Thousands of years ago philosophers such as Aristotle believed that thunder was caused by the collision of clouds.</li>
<li>Astraphobia is the fear of thunder and lightning.</li>
<li>The Oklahoma basketball team that play in the National Basketball Association (NBA)are called the Thunder.</li>
</ol>
{{end}}
